# Proyecto final: EDA en Python
En este archivo se desarrolla una parte del proyecto final, la correspondiente a la limpieza y el análisis de datos mediante programación en python generando un EDA que será complementado posteriormente con un Dashboard interactivo y un informe correspondiente sobre el estudio.

Comienzo importando las librerías necesarias para comenzar con el EDA

In [1]:
import numpy as np

In [2]:
import pandas as pd

## Importación de datos

Comienzo por importar los datos de los diferentes archivos para realizar una primera inspección preliminal de las filas y columnas, así como de las posibles formas de unión de los diferentes datasets en uno sólo.

In [3]:

# Cargo el archivo CSV en un DataFrame
df_muertes = pd.read_csv( 'Datos brutos/estimated-cumulative-excess-deaths-per-100000-people-during-covid-19 (1).csv', #Señalo la ruta del archivo
        sep = ',', #Identifico el separador
        header = 0, # Fila de encabezado
        index_col = None) #No habrá índice del Dataframe

# Muestro el DataFrame
df_muertes

,Entity,Day,"Cumulative excess deaths per 100,000 people (central estimate)","Cumulative excess deaths per 100,000 people (95% CI, lower bound)","Cumulative excess deaths per 100,000 people (95% CI, upper bound)","Total confirmed deaths due to COVID-19 per 100,000 people"
0,Afghanistan,2020-01-01,-0.022148,-0.289158,0.420465,NaN
1,Afghanistan,2020-01-06,-0.044295,-0.570486,0.848026,0.000000
2,Afghanistan,2020-01-13,-0.047579,-0.837293,1.281982,0.000000
3,Afghanistan,2020-01-20,0.022123,-1.125014,1.698806,0.000000
4,Afghanistan,2020-01-27,0.063374,-1.377656,2.177791,0.000000
...,...,...,...,...,...,...
523052,Zimbabwe,2025-09-24,NaN,NaN,NaN,35.720818
523053,Zimbabwe,2025-09-25,NaN,NaN,NaN,35.720818
523054,Zimbabwe,2025-09-26,NaN,NaN,NaN,35.720818
523055,Zimbabwe,2025-09-27,NaN,NaN,NaN,35.720818
523056,Zimbabwe,2025-09-28,NaN,NaN,NaN,35.720818

In [4]:

# Cargo el segundo archivo CSV en un DataFrame
df_felicidad = pd.read_csv( 'Datos brutos/world-happiness-report-2021.csv', #Señalo la ruta del archivo
        sep = ',', #Identifico el separador
        header = 0, # Fila de encabezado
        index_col = None) #No habrá índice del Dataframe

# Muestro el DataFrame
df_felicidad

,Country name,Regional indicator,Ladder score,Standard error of ladder score,upperwhisker,lowerwhisker,Logged GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption,Ladder score in Dystopia,Explained by: Log GDP per capita,Explained by: Social support,Explained by: Healthy life expectancy,Explained by: Freedom to make life choices,Explained by: Generosity,Explained by: Perceptions of corruption,Dystopia + residual
0,Finland,Western Europe,7.842,0.032,7.904,7.780,10.775,0.954,72.000,0.949,-0.098,0.186,2.43,1.446,1.106,0.741,0.691,0.124,0.481,3.253
1,Denmark,Western Europe,7.620,0.035,7.687,7.552,10.933,0.954,72.700,0.946,0.030,0.179,2.43,1.502,1.108,0.763,0.686,0.208,0.485,2.868
2,Switzerland,Western Europe,7.571,0.036,7.643,7.500,11.117,0.942,74.400,0.919,0.025,0.292,2.43,1.566,1.079,0.816,0.653,0.204,0.413,2.839
3,Iceland,Western Europe,7.554,0.059,7.670,7.438,10.878,0.983,73.000,0.955,0.160,0.673,2.43,1.482,1.172,0.772,0.698,0.293,0.170,2.967
4,Netherlands,Western Europe,7.464,0.027,7.518,7.410,10.932,0.942,72.400,0.913,0.175,0.338,2.43,1.501,1.079,0.753,0.647,0.302,0.384,2.798
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
144,Lesotho,Sub-Saharan Africa,3.512,0.120,3.748,3.276,7.926,0.787,48.700,0.715,-0.131,0.915,2.43,0.451,0.731,0.007,0.405,0.103,0.015,1.800
145,Botswana,Sub-Saharan Africa,3.467,0.074,3.611,3.322,9.782,0.784,59.269,0.824,-0.246,0.801,2.43,1.099,0.724,0.340,0.539,0.027,0.088,0.648
146,Rwanda,Sub-Saharan Africa,3.415,0.068,3.548,3.282,7.676,0.552,61.400,0.897,0.061,0.167,2.43,0.364,0.202,0.407,0.627,0.227,0.493,1.095
147,Zimbabwe,Sub-Saharan Africa,3.145,0.058,3.259,3.030,7.943,0.750,56.201,0.677,-0.047,0.821,2.43,0.457,0.649,0.243,0.359,0.157,0.075,1.205
148,Afghanistan,South Asia,2.523,0.038,2.596,2.449,7.695,0.463,52.493,0.382,-0.102,0.924,2.43,0.370,0.000,0.126,0.000,0.122,0.010,1.895

### Unión de conjuntos de datos

Para no trabajar con dos conjuntos de datos aislados, uno en un mismo dataset los dos ya importados.

Para ello son muy importantes las columnas referentes a los países, mediante las que uniré los datos. Mi dataset princiapl es df_muertes al contar con tanas filas, así que a ese añadiré los datos del otro dataframe. Lo hago usando una unión de tipo left (izquierda): mantengo todas las filas de df_muertes y, donde el nombre del país coincida, añade la información de df_felicidad. 

Si un país del dataset de muertes no se encuentra en el de felicidad, las nuevas columnas aparecerán con valores nulos (NaN), lo cual es perfecto para identificar y tratar esos casos más adelante.

In [6]:
# 1. Renombro la columna 'Entity' en el df_muertes para que coincida
df_muertes.rename(columns={'Entity': 'Country name'}, inplace=True)

# 2. Uno los dos DataFrames con un merge de tipo 'left'
df_final = pd.merge(df_muertes, df_felicidad, on='Country name', how='left')

# 3. Verifico el resultado
print("El nuevo dataset tiene la siguiente forma:")
print(df_final.shape)

df_final.head()  # Muestro las primeras filas del nuevo DataFrame

El nuevo dataset tiene la siguiente forma:
(523057, 25)

,Country name,Day,"Cumulative excess deaths per 100,000 people (central estimate)","Cumulative excess deaths per 100,000 people (95% CI, lower bound)","Cumulative excess deaths per 100,000 people (95% CI, upper bound)","Total confirmed deaths due to COVID-19 per 100,000 people",Regional indicator,Ladder score,Standard error of ladder score,upperwhisker,...,Generosity,Perceptions of corruption,Ladder score in Dystopia,Explained by: Log GDP per capita,Explained by: Social support,Explained by: Healthy life expectancy,Explained by: Freedom to make life choices,Explained by: Generosity,Explained by: Perceptions of corruption,Dystopia + residual
0,Afghanistan,2020-01-01,-0.022148,-0.289158,0.420465,NaN,South Asia,2.523,0.038,2.596,...,-0.102,0.924,2.43,0.37,0.0,0.126,0.0,0.122,0.01,1.895
1,Afghanistan,2020-01-06,-0.044295,-0.570486,0.848026,0.0,South Asia,2.523,0.038,2.596,...,-0.102,0.924,2.43,0.37,0.0,0.126,0.0,0.122,0.01,1.895
2,Afghanistan,2020-01-13,-0.047579,-0.837293,1.281982,0.0,South Asia,2.523,0.038,2.596,...,-0.102,0.924,2.43,0.37,0.0,0.126,0.0,0.122,0.01,1.895
3,Afghanistan,2020-01-20,0.022123,-1.125014,1.698806,0.0,South Asia,2.523,0.038,2.596,...,-0.102,0.924,2.43,0.37,0.0,0.126,0.0,0.122,0.01,1.895
4,Afghanistan,2020-01-27,0.063374,-1.377656,2.177791,0.0,South Asia,2.523,0.038,2.596,...,-0.102,0.924,2.43,0.37,0.0,0.126,0.0,0.122,0.01,1.895

Al realizar esta unión se pierden dato de algunos países de df_felicidad que no encajan con los del df_muertes, así que realizo una unión más precisa con los siguientes pasos:

**Normalización de las Claves de Unión:** Estandarizo la columna con los nombres de los países en ambos DataFrames. Para ello, se elimino los espacios en blanco sobrantes y se convierto todos los nombres a minúsculas. Esto garantiza que las diferencias de formato (ej: "Finland" vs " finland ") no impidan que los datos se unan correctamente.

**Filtrado con Lista Maestra:** SUso la lista de países del informe de felicidad como una lista maestra. Filtro el conjunto de datos de muertes para conservar únicamente las filas que correspondan a los países presentes en esta lista limpia.

**Unión Definitiva:** Realizo un merge de tipo left con los datos ya normalizados y filtrados.

In [7]:
# Vuelvo a cargar los datos originales para asegurar que empezamos el proceso desde cero
df_muertes_raw = pd.read_csv('Datos brutos/estimated-cumulative-excess-deaths-per-100000-people-during-covid-19 (1).csv')
df_felicidad_raw = pd.read_csv('Datos brutos/world-happiness-report-2021.csv')

# Normalizo la columna 'Entity' en el df de muertes (quito espacios y a minúsculas)
df_muertes_raw['Entity'] = df_muertes_raw['Entity'].str.strip().str.lower()

# Normalizo la columna 'Country name' en el df de felicidad
df_felicidad_raw['Country name'] = df_felicidad_raw['Country name'].str.strip().str.lower()

# Renombro 'Entity' para que la columna de unión se llame igual en ambos dataframes
df_muertes_raw.rename(columns={'Entity': 'Country name'}, inplace=True)

# Obtengo la lista maestra limpia de países desde el dataframe de felicidad
lista_paises_validos = df_felicidad_raw['Country name'].unique()

# Filtro el dataframe de muertes para quedarme solo con las filas cuyo país está en la lista válida
print(f"Filas en el df de muertes antes del filtrado: {len(df_muertes_raw)}")
df_muertes_filtrado = df_muertes_raw[df_muertes_raw['Country name'].isin(lista_paises_validos)]
print(f"Filas en el df de muertes después del filtrado: {len(df_muertes_filtrado)}")

# Uno los dataframes ya limpios y filtrados.
# Uso 'left' para mantener todas las filas del df de muertes ya filtrado.
df_final_limpio = pd.merge(df_muertes_filtrado, df_felicidad_raw, on='Country name', how='left')

# Verificación

print(f"Forma del DataFrame final y limpio: {df_final_limpio.shape}")
print(f"Verificación de valores nulos en la columna 'Ladder score':")
print(df_final_limpio['Ladder score'].isnull().sum())

df_final_limpio.head()

Filas en el df de muertes antes del filtrado: 523057
Filas en el df de muertes después del filtrado: 295536
Forma del DataFrame final y limpio: (295536, 25)
Verificación de valores nulos en la columna 'Ladder score':
0

,Country name,Day,"Cumulative excess deaths per 100,000 people (central estimate)","Cumulative excess deaths per 100,000 people (95% CI, lower bound)","Cumulative excess deaths per 100,000 people (95% CI, upper bound)","Total confirmed deaths due to COVID-19 per 100,000 people",Regional indicator,Ladder score,Standard error of ladder score,upperwhisker,...,Generosity,Perceptions of corruption,Ladder score in Dystopia,Explained by: Log GDP per capita,Explained by: Social support,Explained by: Healthy life expectancy,Explained by: Freedom to make life choices,Explained by: Generosity,Explained by: Perceptions of corruption,Dystopia + residual
0,afghanistan,2020-01-01,-0.022148,-0.289158,0.420465,NaN,South Asia,2.523,0.038,2.596,...,-0.102,0.924,2.43,0.37,0.0,0.126,0.0,0.122,0.01,1.895
1,afghanistan,2020-01-06,-0.044295,-0.570486,0.848026,0.0,South Asia,2.523,0.038,2.596,...,-0.102,0.924,2.43,0.37,0.0,0.126,0.0,0.122,0.01,1.895
2,afghanistan,2020-01-13,-0.047579,-0.837293,1.281982,0.0,South Asia,2.523,0.038,2.596,...,-0.102,0.924,2.43,0.37,0.0,0.126,0.0,0.122,0.01,1.895
3,afghanistan,2020-01-20,0.022123,-1.125014,1.698806,0.0,South Asia,2.523,0.038,2.596,...,-0.102,0.924,2.43,0.37,0.0,0.126,0.0,0.122,0.01,1.895
4,afghanistan,2020-01-27,0.063374,-1.377656,2.177791,0.0,South Asia,2.523,0.038,2.596,...,-0.102,0.924,2.43,0.37,0.0,0.126,0.0,0.122,0.01,1.895

## Limpieza y trasnformación de los datos 

Ahora que tengo mi conjunto de datos df_final_limpio unificado, el primer paso es realizar una inspección general para entender su estructura interna.

Uso .info(), que me proporciona un resumen técnico de cada una de las 25 columnas, y asi inspecciono los valores nulos y los tipos de valores que pueden ser incorrectos.

In [8]:
df_final_limpio.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 295536 entries, 0 to 295535
Data columns (total 25 columns):
 #   Column                                                             Non-Null Count   Dtype
---  ------                                                             --------------   -----
 0   Country name                                                       295536 non-null  object
 1   Day                                                                295536 non-null  object
 2   Cumulative excess deaths per 100,000 people (central estimate)     32994 non-null   float64
 3   Cumulative excess deaths per 100,000 people (95% CI, lower bound)  32994 non-null   float64
 4   Cumulative excess deaths per 100,000 people (95% CI, upper bound)  32994 non-null   float64
 5   Total confirmed deaths due to COVID-19 per 100,000 people          295395 non-null  float64
 6   Regional indicator                                                 295536 non-null  object
 7   Ladder score                                                       295536 non-null  float64
 8   Standard error of ladder score                                     295536 non-null  float64
 9   upperwhisker                                                       295536 non-null  float64
 10  lowerwhisker                                                       295536 non-null  float64
 11  Logged GDP per capita                                              295536 non-null  float64
 12  Social support                                                     295536 non-null  float64
 13  Healthy life expectancy                                            295536 non-null  float64
 14  Freedom to make life choices                                       295536 non-null  float64
 15  Generosity                                                         295536 non-null  float64
 16  Perceptions of corruption                                          295536 non-null  float64
 17  Ladder score in Dystopia                                           295536 non-null  float64
 18  Explained by: Log GDP per capita                                   295536 non-null  float64
 19  Explained by: Social support                                       295536 non-null  float64
 20  Explained by: Healthy life expectancy                              295536 non-null  float64
 21  Explained by: Freedom to make life choices                         295536 non-null  float64
 22  Explained by: Generosity                                           295536 non-null  float64
 23  Explained by: Perceptions of corruption                            295536 non-null  float64
 24  Dystopia + residual                                                295536 non-null  float64
dtypes: float64(22), object(3)
memory usage: 56.4+ MB